
.shortcodes-movie-infobox-wrapper {
    display: inline-block;
    width: 100%;
    /*width: 600px;*/
    border: solid black 1px;
    padding: 5px;
}

.shortcodes-movie-infobox-title {
    display: block;
    border: solid black 1px;
    padding: 5px;
    margin-bottom: 5px;
}

.shortcodes-movie-infobox-poster {
    width: 200px;
    height: 300px;

    float: left;

    /*background: red;*/
    /*border: solid black 1px;*/
}

.shortcodes-movie-infobox-description-wrapper {
    width: auto;
    height: 300px;

    /*background: blue;*/
    /*border: solid black 1px;*/
}

.shortcodes-movie-infobox-description-wrapper div {
    /*display: inline-block;*/
    width: inherit;
    /*float: left;*/

    margin: 2px;
    padding: 2px;
}